WVAC/WvacWeb/Service References/MemServiceReference/WVACWebServer.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WVACWebServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WVACWebServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="membership">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="ModeOfPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyDue" type="xs:double" />
      <xs:element minOccurs="0" name="MonthsPaid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="MonthsToPay" type="xs:long" />
      <xs:element minOccurs="0" name="SchedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Shares" type="xs:long" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="membership" nillable="true" type="tns:membership" />
  <xs:complexType name="mempayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="amountPaid" type="xs:double" />
      <xs:element minOccurs="0" name="cash" type="xs:double" />
      <xs:element minOccurs="0" name="change" type="xs:double" />
      <xs:element minOccurs="0" name="fine" type="xs:double" />
      <xs:element minOccurs="0" name="memID" type="xs:long" />
      <xs:element minOccurs="0" name="payDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mempayment" nillable="true" type="tns:mempayment" />
</xs:schema>