WVAC/WvacWeb/Service References/LoanServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidateMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="typeOfLoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="months" type="xs:int" />
        <xs:element minOccurs="0" name="loanAmount" type="xs:double" />
        <xs:element minOccurs="0" name="ai" type="xs:double" />
        <xs:element minOccurs="0" name="sf" type="xs:double" />
        <xs:element minOccurs="0" name="NOTARIAL_FEE" type="xs:double" />
        <xs:element minOccurs="0" name="cbu" type="xs:double" />
        <xs:element minOccurs="0" name="balance" type="xs:double" />
        <xs:element minOccurs="0" name="monthlyDue" type="xs:double" />
        <xs:element minOccurs="0" name="releaseDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateDue" type="xs:dateTime" />
        <xs:element minOccurs="0" name="schedPayment" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMembershipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateMembershipResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balance" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInterestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInterestResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monthlydue" type="xs:double" />
        <xs:element minOccurs="0" name="payDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="schedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFineResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthlyDue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthlyDueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMonthlyDueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBalanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchedDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchedDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSchedDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="monthlyDue" type="xs:double" />
        <xs:element minOccurs="0" name="payment" type="xs:double" />
        <xs:element minOccurs="0" name="cash" type="xs:double" />
        <xs:element minOccurs="0" name="bill" type="xs:double" />
        <xs:element minOccurs="0" name="interest" type="xs:double" />
        <xs:element minOccurs="0" name="fine" type="xs:double" />
        <xs:element minOccurs="0" name="payDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processPayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewProfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllLoans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAllLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewAllLoansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>